*{
    box-sizing: border-box;
}
html, body{
    font-size: 62.5%;

}
body{
    height: 10000px;
    font-size: 1.6rem;
    font-family: "Noto Serif", serif;
}
/* HEADER */
.header {
    background-color: #515b64;
    align-items: center;
    display: flex;
    padding: 20px 10px;
}
.nav {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
}
.nav a:hover {
    color: #007bff;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3);
}
.header .nav-list {
    list-style: none;
    display: flex;
    margin-left: auto;
    padding: 20px 0;

}
.logo {
    display:inline-flex;
    max-width: 50px;
    margin: 20px;

}
.header a{
    text-decoration: none;
    color: #333;
    padding: 20px 10px;
    transition: color 0.3s ease;
}
.main-content {
    width: 100%;
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.header .btn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 800px;
    margin-left: 40px;
    transition: background-color 0.3s ease;
  
}
.header .body{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.header.stiky{
    position: sticky;
    top: -30px;
   
   
}